body {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  background-image: url('/src/finalPage/assets/jpg/chapter01_Bg.jpg'); // 실제 위치로 조정
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-button {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10;
  width: 50px;
  height: auto;
  cursor: pointer;
}

.title-image {
  position: absolute;
  top: 30px;
  left: 12%;
  z-index: 10;
  width: 200px;
  height: auto;
  transform: translateX(-50%);
}

#title-tooltip {
  position: absolute;
  z-index: 100;
  display: none;
  max-width: 400px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.5;
  color: white;
  white-space: normal;
  pointer-events: none;
  background: rgb(0 0 0 / 85%);
  border-radius: 8px;
}

#object-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .floating-obj {
    position: absolute;
    width: 250px;
    pointer-events: auto;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.2s ease;

    &:hover {
      filter: brightness(1.5);
    }
  }
}

.warning-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #b80000;
  animation: blink 2s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
