html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

.scene-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#viewer {
  display: block;
  width: 100%;
  height: 100%;
}

#next-button {
  /* 버튼의 위치와 기본 크기 */
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 56px;
  height: 56px;
  padding: 0;

  /* ✅ 동그라미 배경을 없애고 테두리 제거 */
  background-color: transparent;
  border: none;
  border-radius: 0; /* 둥근 모서리 제거 */
  cursor: pointer;
}

#next-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  transform: translate(-50%, -50%);

  width: 0;
  height: 0;
  border-style: solid;

  /* ✅ 삼각형의 위아래 길이를 늘립니다. */

  border-width: 48px 0 48px 24px;
  border-color: transparent transparent transparent white;
}

#next-button:hover::after {
  /* 호버 시 색상 변경 */
  border-color: transparent transparent transparent #ccc;
}

.invisible-infospot {
  pointer-events: auto !important;
  opacity: 0 !important;
}
