body {
  position: relative;
  z-index: 0;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("/src/finalPage/assets/png/chapter/chapter2_IntroBG01.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-button {
  position: absolute;
  top: 110px;
  left: 170px;
  z-index: 10;
  width: 50px;
  height: auto;
  cursor: pointer;
}

.png-button {
  position: absolute;
  top: 50px;
  left: 780px;
  z-index: 4;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 600px auto 0;
  cursor: pointer;
}
.png-button img {
  display: block;
  width: 200px;
  height: auto;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.png-button:hover img {
  opacity: 0.9;
  transform: scale(1.05);
}